<md-card-title-text>
    <span class="md-headline">Quiz Game with AngularJS</span>
</md-card-title-text>
<md-divider></md-divider>
<md-card-content ng-hide="userName">
   <p class = "wrong-user-name">{{wrongNameInputMessage}}</p>
    <input type="text" ng-model="name" placeholder="Enter your name" ng-value="name">
    <md-button class="md-raised md-primary" ng-click="setUserName(name)">Enter</md-button>
</md-card-content>
<md-card-content ng-show="userName">
    <p>User: {{userName}}</p>
    <h3 ng-show="questionCount<=list.length">Word № {{questionCount}}</h3>
    <quiz-item question="current.word" options="current.options" select="select" correct="current.translate" ng-if="current"></quiz-item>
   	<quiz-result list-results = "list" user ="userName"></quiz-result>
    <md-button class="md-raised md-primary" ng-show="questionCount<=list.length" ng-click="next()">NEXT WORD</md-button>

</md-card-content>

